* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: slategray;
}

/* Required for contact inputs to stay transparent on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Required for contact input text to stay gray on autofill */
input:-webkit-autofill {
  -webkit-text-fill-color: slategray !important;
}

section {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

i {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: slategray;
}

a:hover,
i:hover {
  color: powderblue;
}

.content {
  background: url("../images/jason-abdilla-anE0V1ljPUI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#home h1,
#feedback h2 {
  /* color: slategray; */
  display: inline;
  font-size: 125px;
  opacity: 0.2;
}

#home h2 {
  display: inline;
  font-size: 125px;
  opacity: 0.1;
}

#home h3 {
  font-size: 20px;
  text-align: center;
  color: #1b263b;
}

#home ul {
  padding: 0;
  list-style: none;
}

#home .name {
  top: 5%;
}

#home .web-dev,
#feedback .feedback-emblem {
  position: absolute;
  text-align: right;
  right: 0%;
  top: 13%;
}

#home .techs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  text-align: center;
  height: 60px;
  bottom: -20%;
}

#home .techs div {
  min-width: 33%;
}

#home .techs li {
  font-size: 14px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.links {
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: 10;
}

.links ul {
  list-style: none;
}

.links ul li {
  padding: 15px 0;
}

#projects {
  background-color: #1b263b;
  flex-direction: column;
  justify-content: space-evenly;
}

#projects a {
  text-decoration: underline;
}

.project__wrap li {
  margin: 10px 0;
  font-size: 1rem;
}

.project__wrap {
  height: 50%;
  width: 70%;
  padding: 15px;
  overflow: hidden;
}

.project__wrap--info {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  border-bottom: 1px solid slategray;
  padding-bottom: 20px;
}

.project__wrap--image {
  padding: 10px;
  /* width: 30%; */
}

.project__wrap--next {
  display: none;
}

#feedback {
  background-color: whitesmoke;
  display: flex;
}

#feedback h2 {
  opacity: 0.1;
}

#feedback .textblock {
  width: 70%;
  height: 80vh;
  margin: auto;
  overflow: auto;
}

#feedback p {
  text-align: justify;
}

#feedback .textblock::-webkit-scrollbar {
  width: 5px;
}

#contact {
  background: url("../images/jonathan-knepper-9GMO0Sxyw_Y-unsplash.jpg");
  background-color: powderblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  box-shadow: 0 3000px rgba(176, 224, 230, 0.4) inset;
}

#contact form {
  width: 40%;
}

#contact form div {
  display: flex;
  margin: 10px;
}

#contact input,
#contact textarea {
  background: none;
  border: none;
  border-bottom: 2px solid slategray;
  outline: none;
  width: -webkit-fill-available;
  margin: 0 10px;
}

#contact span {
  font-family: "Cabin Sketch", cursive;
  display: flex;
  align-items: flex-end;
}

#contact i {
  font-size: 60px;
  color: #1b263b;
}

#contact button {
  font-family: "Cabin Sketch", cursive;
  background: none;
  border: 1px solid slategray;
  width: 120px;
  margin: auto;
  margin-top: 20px;
}

#contact button:hover {
  box-shadow: 0px 0px 10px 1px;
}

#contact:focus-visible {
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .project__wrap {
    transform: scale(0.9);
  }
}

/* Tablet Media Queries */
@media only screen and (max-width: 1024px) {
  #projects {
    justify-content: center;
  }

  .project__wrap {
    /* height: 40vh; */
    width: 85vw;
  }

  .project__wrap--image {
    width: 30vw;
    align-self: center;
  }

  .project__wrap--info {
    font-size: 1rem;
  }

  .project__wrap:nth-child(2) {
    width: 90vw;
  }

  .project__wrap:nth-child(2) img {
    width: 50vw;
    margin-left: 2rem;
  }
}

/* Modern Phone Media Queries */
@media only screen and (max-width: 450px) {
  .links {
    width: 100%;
  }

  .links ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .links ul li {
    padding: 10px 0;
  }

  .links .social-links {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  #home h1,
  #feedback h2 {
    font-size: 62px;
    line-height: 0.5;
  }

  #home h2 {
    font-size: 91px;
    line-height: 0.6;
  }

  #home .web-dev {
    top: 25%;
  }

  .about,
  #home .techs,
  #contact form {
    width: 100%;
  }

  #projects {
    flex-direction: row;
    overflow: auto;
    justify-content: start;
  }

  .project__wrap {
    flex: 1 0 100%;
    height: 100vh;
    margin-top: 1rem;
    flex-direction: column;
  }

  /* .project__wrap:nth-child(2) {
    height: 100vh;
  } */

  .project__wrap:nth-child(2) img {
    width: 100vw;
    margin-left: 0;
  }

  .project__wrap--next {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 45%;
    right: 5%;
  }

  .project__wrap--next i {
    font-size: 40px;
  }

  .project__wrap--image {
    width: 50vw;
    align-self: center;
    margin-bottom: 1rem;
  }

  .project__wrap--info {
    align-self: center;
    width: 90vw;
  }

  .project__wrap li,
  .project__wrap a {
    font-size: 0.7rem;
  }

  #projects h3 {
    font-size: 16px;
  }

  .learning-info {
    width: 75vw;
  }

  .learning {
    width: 100vw;
  }
}

/* Small Phone Media Queries */
@media only screen and (max-width: 320px) {
  .project__wrap li {
    font-size: 0.6rem;
  }

  .project__wrap--image {
    margin-bottom: 0.2rem;
  }
}
