* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: slategray;
}

/* Required for contact inputs to stay transparent on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Required for contact input text to stay gray on autofill */
input:-webkit-autofill {
  -webkit-text-fill-color: slategray !important;
}

section {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

i {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: slategray;
}

a:hover,
i:hover {
  color: powderblue;
}

.content {
  background: url("../images/jason-abdilla-anE0V1ljPUI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#home h1,
#feedback h2 {
  /* color: slategray; */
  display: inline;
  font-size: 125px;
  opacity: 0.2;
}

#home h2 {
  display: inline;
  font-size: 125px;
  opacity: 0.1;
}

#home h3 {
  font-size: 20px;
  text-align: center;
  color: #1b263b;
}

#home ul {
  padding: 0;
  list-style: none;
}

#home .name {
  top: 5%;
}

#home .web-dev,
#feedback .feedback-emblem {
  position: absolute;
  text-align: right;
  right: 0%;
  top: 13%;
}

#home .techs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  text-align: center;
  height: 60px;
  bottom: -20%;
}

#home .techs div {
  min-width: 33%;
}

#home .techs li {
  font-size: 14px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.links {
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: 10;
}

.links ul {
  list-style: none;
}

.links ul li {
  padding: 15px 0;
}

#projects {
  background-color: #1b263b;
}

#projects a {
  text-decoration: underline;
}

#projects li {
  margin: 10px 0;
}

#projects .phone {
  height: 400px;
}

#projects .learning {
  height: 350px;
}

#projects .threadery-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  border-bottom: 1px solid slategray;
  padding-bottom: 20px;
}

#projects .projects {
  width: 60%;
  margin: auto;
}

#projects .learning-info {
  width: 50%;
}

#projects .project-intro {
  position: absolute;
  top: 5%;
  left: 20%;
  right: 5%;
  text-align: right;
}

#projects .project-1 {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 60px;
}

#projects .project-2 {
  max-width: 1100px;
  margin: auto;
}

#feedback {
  background-color: whitesmoke;
  display: flex;
}

#feedback h2 {
  opacity: 0.1;
}

#feedback .textblock {
  width: 75%;
  height: 80vh;
  margin: auto;
  overflow: auto;
}

#feedback p {
  text-align: justify;
}

#feedback .textblock::-webkit-scrollbar {
  width: 5px;
}

#contact {
  background: url("../images/jonathan-knepper-9GMO0Sxyw_Y-unsplash.jpg");
  background-color: powderblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  box-shadow: 0 3000px rgba(176, 224, 230, 0.4) inset;
}

#contact form {
  width: 40%;
}

#contact form div {
  display: flex;
  margin: 10px;
}

#contact input,
#contact textarea {
  background: none;
  border: none;
  border-bottom: 2px solid slategray;
  outline: none;
  width: -webkit-fill-available;
  margin: 0 10px;
}

#contact span {
  font-family: "Cabin Sketch", cursive;
  display: flex;
  align-items: flex-end;
}

#contact i {
  font-size: 60px;
  color: #1b263b;
}

#contact button {
  font-family: "Cabin Sketch", cursive;
  background: none;
  border: 1px solid slategray;
  width: 120px;
  margin: auto;
  margin-top: 20px;
}

#contact button:hover {
  box-shadow: 0px 0px 10px 1px;
}

#contact:focus-visible {
  outline: none;
}

@media only screen and (max-width: 450px) {
  .links {
    width: 100%;
  }

  .links ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .links ul li {
    padding: 10px 0;
  }

  .links .social-links {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  #home h1,
  #feedback h2 {
    font-size: 62px;
    line-height: 0.5;
  }

  #home h2 {
    font-size: 91px;
    line-height: 0.6;
  }

  #home .web-dev {
    top: 25%;
  }

  .about,
  #home .techs,
  #contact form {
    width: 100%;
  }

  #projects img {
    transform: scale(0.5);
  }

  #projects .threadery {
    top: -351px;
    left: 13px;
  }

  #projects .project-1 {
    display: block;
    width: 100%;
    right: 0;
  }

  #projects li,
  #projects a {
    font-size: 12px;
  }

  #projects h3 {
    font-size: 16px;
  }
}
