<!-- Contact Section -->
<section id="contact" class="d-flex flex-column contact">
  <div class="container-xxl text-center">
    <a href="mailto:ryan.skog@outlook.com">
      <i class="bi bi-envelope-fill" role="img" aria-label="Mail"></i>
    </a>
    <p class="my-5">or.</p>
    <form
      name="contact"
      method="POST"
      data-netlify="true"
      id="contact-form"
      class="mx-auto d-flex flex-column contact__form"
    >
      <div>
        <span>name.</span>
        <input type="text" aria-label="name" id="name" name="name" required />
      </div>
      <div>
        <span>email.</span>
        <input
          type="email"
          aria-label="email"
          id="email"
          name="email"
          required
        />
      </div>
      <div>
        <span>subject.</span>
        <input
          type="text"
          aria-label="subject"
          id="subject"
          name="subject"
          required
        />
      </div>
      <div>
        <span>message.</span>
        <textarea
          aria-label="message"
          id="message"
          name="message"
          rows="1"
          required
        ></textarea>
      </div>
      <button type="submit" value="submit" id="contact-submit">send.</button>
    </form>
  </div>
</section>
